.Details_Page {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 100%;
  width: 1000px;
}
.Details_Page .Return_Arrow {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.Details_Page .Header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.Details_Page .Header .Header_Image_Container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.Details_Page .Header .Mini_Logo__Name_Box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -100px;
  left: 20px;
  gap: 10px;
  justify-content: space-evenly;
  align-items: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Details_Page .Header .Mini_Logo__Name_Box .Logo_Container {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  height: 200px;
  width: 200px;
  overflow: hidden;
}
.Details_Page .Header .Mini_Logo__Name_Box .Logo_Container .Logo {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Details_Page .Header .Mini_Logo__Name_Box .Large_Text {
  color: #319795;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 300;
}
.Details_Page .Header .Mini_Logo__Name_Box .Small_Text {
  color: #319795;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.Details_Page .Body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.Details_Page .Body .Social_Icons_Container {
  display: flex;
  padding: 20px;
  gap: 30px;
  justify-content: right;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.Details_Page .Body .Information_Box {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 20px;
  margin-top: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.Details_Page .Body .Information_Box .Intro_Text {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.Details_Page .Body .Information_Box .Info_Icon_Container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  align-items: center;
}
.Details_Page .Body .Information_Box .Info_Icon_Container .Info_Item {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  gap: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Details_Page .Body .Information_Box .Info_Icon_Container .Info_Item p {
  color: #319795;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 300;
}

@media only screen and (max-width: 1000px) {
  .Details_Page {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .Details_Page .Header .Mini_Logo__Name_Box {
    left: 10px;
  }
  .Details_Page .Header .Mini_Logo__Name_Box .Logo_Container {
    height: 130px;
    width: 130px;
  }
  .Details_Page .Header .Mini_Logo__Name_Box .Large_Text {
    font-size: 22px;
  }
}
@media only screen and (max-width: 380px) {
  .Details_Page .Header .Mini_Logo__Name_Box .Logo_Container {
    height: 100px;
    width: 100px;
  }
  .Details_Page .Header .Mini_Logo__Name_Box .Large_Text {
    font-size: 18px;
  }
  .Details_Page .Header .Mini_Logo__Name_Box .Small_Text {
    font-size: 15px;
  }
}/*# sourceMappingURL=PersonelDetails.module.css.map */